/dft-road-casualty-statistics-collision-1979-latest-published-year.csv
/dft-road-casualty-statistics-casualty-1979-latest-published-year.csv
/dft-road-casualty-statistics-vehicle-1979-latest-published-year.csv
/dft-road-casualty-statistics-severity-adjustment-figure-guidance.docx
/Understanding-historical-road-safety-data.docx
/dft-road-casualty-statistics-road-safety-open-dataset-data-guide-2023.xlsx
/dft-road-casualty-statistics-road-safety-open-dataset-data-guide-2024.xlsx
/Guide to severity adjustments for reported road casualties Great Britain - GOV.UK.pdf
/dft-road-casualty-statistics-vehicle_location_restricted_lane.csv
